.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
}

h1, h2, h3 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}
.nav-item {
    font-size: larger;
    border-color: black;
    font-style: italic;
}